<div class="slide bg" id="Cover"><div>
    <section>
      <header>
        <h2>Shower Presentation Template</h2>
      </header>
      <img src="pictures/cover.jpg" alt="">
      <!-- © John Carey, http://fiftyfootshadows.net/ -->
    </section>
  </div></div>