
<div class="slide" id="InTheMiddle"><div>
  <section>
    <header>
      <h2>In the Middle</h2>
    </header>
    <object data="pictures/semantics.svg" type="image/svg+xml" width="300" height="300" class="middle"></object>
  </section>
</div></div>