
<div class="slide bg" id="Picture"><div>
  <section>
    <header>
      <h2>Picture</h2>
    </header>
    <img src="pictures/picture.jpg" alt="">
    <!-- © Patrick H. Lauke, http://www.flickr.com/photos/redux/ -->
  </section>
</div></div>