
<div class="slide" id="BlockQuote"><div>
  <section>
    <header>
      <h2>Block Quote</h2>
    </header>
    <blockquote cite="Anonymous">
      <p>This tool is provided without warranty, guarantee, or much in the way of explanation. Note that use of this tool may or may not crash your browser, lock up your machine, erase your hard drive.</p>
    </blockquote>
  </section>
</div></div>