
<!--
  This feature is under development!

  Add class “inner” to any parent element
  to start inner navigation section. Pressing
  next button will add class “active” to every
  next sibling child starting from the first one.

  Actual behavior depends on styles of the current
  theme: on active state you could show previously
  hidden items or emphasize it for example by
  color or bold font weight.

  To start slide with the first active alement
  add class “active” manually.

  After activation of the last child pressing next
  button will turn next slide.

<div class="slide" id="InnerNavigation"><div>
  <section>
    <header>
      <h2>Inner Navigation</h2>
    </header>
    <ol class="inner">
      <li class="active">This tool is provided</li>
      <li>Without warranty, guarantee</li>
      <li>Or much in the way of explanation
      <li>Erase your hard drive.</li>
    </ol>
  </section>
</div></div> -->