<div class="slide" id="ThankYou"><div>
  <section>
    <header>
      <h2>Shower Presentation Template</h2>
    </header>
    <p>Vadim Makeev, Opera Software</p>
    <ul>
      <li><a href="http://pepelsbey.net">pepelsbey.net</a></li>
      <li><a href="http://twitter.com/pepelsbey">twitter.com/pepelsbey</a></li>
      <li><a href="mailto:pepelsbey@gmail.com">pepelsbey@gmail.com</a></li>
    </ul>
    <p>Shower: <a href="http://github.com/pepelsbey/shower">github.com/pepelsbey/shower</a></p>
  </section>
</div></div>